.attributes-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid black;
}

.attributes-add {
    display: flex;
    justify-content: space-between;
    border: solid;
    overflow:hidden;
    margin: 1%;
}
.attributes-list{
    border: solid;
    padding: 1%;
    height: 450px;
    margin: 0.5% 1%;
    overflow:scroll;
}



.attributes-add>button {

    margin: 1%;
}
